[submodule "tf"]
	path = tf
	url = git@gist.github.com:e436c94c6e569e9d7e50be52eb0027d5.git
[submodule "editor/vim/bundle/vim-fish"]
	path = editor/vim/bundle/vim-fish
	url = https://github.com/dag/vim-fish.git
[submodule "editor/vim/bundle/vim-litecorrect"]
	path = editor/vim/bundle/vim-litecorrect
	url = https://github.com/reedes/vim-litecorrect
[submodule "editor/vim/bundle/limelight.vim"]
	path = editor/vim/bundle/limelight.vim
	url = https://github.com/junegunn/limelight.vim
[submodule "editor/vim/bundle/vim-ledger"]
	path = editor/vim/bundle/vim-ledger
	url = https://github.com/ledger/vim-ledger
[submodule "editor/vim/bundle/mustache"]
	path = editor/vim/bundle/mustache
	url = https://github.com/mustache/vim-mustache-handlebars
[submodule "editor/vim/bundle/vim-coffee-script"]
	path = editor/vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "editor/vim/bundle/goyo.vim"]
	path = editor/vim/bundle/goyo.vim
	url = https://github.com/junegunn/goyo.vim
[submodule "editor/vim/bundle/vim-pencil"]
	path = editor/vim/bundle/vim-pencil
	url = https://github.com/reedes/vim-pencil
[submodule "editor/vim/bundle/lite-dfm"]
	path = editor/vim/bundle/lite-dfm
	url = https://github.com/bilalq/lite-dfm
[submodule "editor/vim/bundle/vim-wordy"]
	path = editor/vim/bundle/vim-wordy
	url = https://github.com/reedes/vim-wordy
[submodule "editor/vim/bundle/vim-grammarous"]
	path = editor/vim/bundle/vim-grammarous
	url = https://github.com/rhysd/vim-grammarous
[submodule "editor/vim/bundle/vim-airline"]
	path = editor/vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "editor/vim/bundle/vim-airline-themes"]
	path = editor/vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "editor/vim/bundle/vim-go"]
	path = editor/vim/bundle/vim-go
	url = https://github.com/fatih/vim-go
[submodule "editor/vim/bundle/tagbar"]
	path = editor/vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "st"]
	path = st
	url = git@gist.github.com:322d825a00c0d468813fba9e94e2412f.git
[submodule "private-dotfiles"]
	path = private-dotfiles
	url = gitea@makyo.dev:makyo/private-dotfiles.git
[submodule "editor/vim/bundle/nerdtree"]
	path = editor/vim/bundle/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "editor/vim/bundle/vimwiki"]
	path = editor/vim/bundle/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule "editor/vim/bundle/fzf"]
	path = editor/vim/bundle/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "editor/vim/bundle/fzf.vim"]
	path = editor/vim/bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "editor/vim/bundle/calendar.vim"]
	path = editor/vim/bundle/calendar.vim
	url = https://github.com/itchyny/calendar.vim
[submodule "editor/vim/bundle/vimmtausch"]
	path = editor/vim/bundle/vimmtausch
	url = https://github.com/makyo/stimmtausch.vim
[submodule "editor/vim/bundle/Colorizer"]
	path = editor/vim/bundle/Colorizer
	url = https://github.com/chrisbra/Colorizer
[submodule "editor/vim/bundle/vim-gnupg"]
	path = editor/vim/bundle/vim-gnupg
	url = https://github.com/jamessan/vim-gnupg
[submodule "editor/vim/bundle/vim-gitgutter"]
	path = editor/vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "editor/vim/bundle/vim-fugitive"]
	path = editor/vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "editor/vim/bundle/elm-vim"]
	path = editor/vim/bundle/elm-vim
	url = https://github.com/ElmCast/elm-vim
[submodule "editor/vim/bundle/vimade"]
	path = editor/vim/bundle/vimade
	url = https://github.com/TaDaa/vimade
[submodule "editor/vim/bundle/vim-lilypond"]
    path = editor/vim/bundle/vim-lilypond
    url = https://github.com/sersorrel/vim-lilypond
[submodule "editor/vim/bundle/vim-delete-hidden-buffers"]
	path = editor/vim/bundle/vim-delete-hidden-buffers
	url = https://github.com/arithran/vim-delete-hidden-buffers.git
[submodule "editor/vim/bundle/vim-easymotion"]
	path = editor/vim/bundle/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion
[submodule "editor/vim/bundle/vim-unimpaired"]
	path = editor/vim/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "editor/vim/bundle/vim-surround"]
	path = editor/vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "editor/vim/bundle/papercolor-theme"]
	path = editor/vim/bundle/papercolor-theme
	url = https://github.com/NLKNguyen/papercolor-theme
[submodule "editor/vim/bundle/vim-racket"]
	path = editor/vim/bundle/vim-racket
	url = https://github.com/benknoble/vim-racket.git
[submodule "editor/vim/bundle/instant.nvim"]
	path = editor/vim/bundle/instant.nvim
	url = https://github.com/jbyuki/instant.nvim
